<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Sbobyfy | Suche</title>
</head>
<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>
    <main>
        <section class="grid">
            <% myArr.forEach(elt => { %>
                    <% if (elt.images.length > 0) { %>
                        <figure class="linkContainer">
                            <img src="<%- elt.images[0].url %>" alt="<%- elt.name %>">
                            <figcaption><%- elt.name %></figcaption>
                            <figcaption class="linkLow"><a href="/<%- link %>/<%- elt.id %>"><%- linkDesc %></a></figcaption>
                        </figure>
                    <% } else { %>
                        <figure class="linkContainer">
                            <img src="/images/rect.png" alt="<%- elt.name %>">
                            <figcaption><%- elt.name %></figcaption>
                            <figcaption class="linkLow"><a href="/<%- link %>/<%- elt.id %>"><%- linkDesc %></a></figcaption>
                        </figure>
                        <% } %>
                <% })%>
        </section>
    </main>
        <footer>
            <%- include("../partials/footer.ejs") %>
        </footer>
</body>
</html>